<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/GKG-logo-2015-Mobile.png" alt="GKG Logo" height="40" class="me-2">Stigalisti GKG
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Stigatafla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stigareglur">
            <i class="fas fa-list-alt me-1"></i>Stigareglur
          </a>
        </li>
        <% if (typeof user !== 'undefined' && user && user.isAdmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Stjórnborð</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/players">Kylfingar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage-points">Stiga Stjórnun</a>
          </li>
        <% } else if (typeof user !== 'undefined' && user && user.role === 'player') { %>
          <li class="nav-item">
            <a class="nav-link" href="/player-account/dashboard">
              <i class="fas fa-plus-minus me-1"></i>Stjórna stigum
            </a>
          </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if (typeof user !== 'undefined' && user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user me-1"></i><%= user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if (user.role === 'player') { %>
                <li><a class="dropdown-item" href="/player-account/dashboard">
                  <i class="fas fa-user me-1"></i>Mín síða
                </a></li>
                <li><hr class="dropdown-divider"></li>
              <% } %>
              <li><a class="dropdown-item" href="/users/logout">Útskrá</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">
              <i class="fas fa-user-plus me-1"></i>Nýskráning
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Innskráning</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav> 